#top {
   width:740px;
   margin:0 auto;
   padding:10px;
   background-color:#E7DFCE;
}
#header {
   width:740px;
}
#menu {
   width:740px;
}
/*header情報*/
#header h1 {
   margin:0;
   padding:0;
   font-size:32px;
   color:#fff;
   line-height:80px;
}
#header h1 a {
   color:#624643;
}
a{
  text-decoration: none;
}
#header h1 a:hover {
   color:#AE847F;
}
#menu ul {
   margin:0;
   padding:0;
}
#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
}
#menu li a {
   display:block;
   width:148px;
   padding:10px 0;
   color:#fff;
   background-color:#200700;
}
#menu li a.active {
   display:block;
   width:148px;
   padding:10px 0;
   color:#fff;
   background-color:#3f1508;
}
#menu li a:hover {
   color:#ddd;
   background-color:#3f1508;
}
/* 回り込み解除 */
#menu ul:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}
h3{
  color:#000000;
  border-bottom:solid #b22222;
}
